<section class="customer-logos-v2 {{ include.logo-class }} {{ include.logo-display-class }}">
  <div class="container">
    <div class="logo-section">
      <div class="row">
        <div class="col col-12 mw-100">
          {% if include.heading %}
          <h2 class="text-center heading">{{ include.heading }}</h2>
          {% endif %}
            <div class="row row-cols-10 row-cols-sm-6 row-cols-md-9 gap-2 justify-content-center">
              {% for option in site.data.technologies %}
              <div class="col d-flex justify-content-center align-items-center mb-2 img-fix"><img src="assets/img/technologies/{{option.logo}}" alt="{{option.text}}" class="img-fluid" /></div>
              {% endfor %}
            </div>        
        </div>
      </div>
    </div>
  </div>
</section>