<section class="customer-logos-v2 {{ include.logo-class }} {{ include.logo-display-class }}">
  <div class="container">
    <div class="logo-section">
      <div class="row">
        <div class="col col-12 mw-100">
          {% if include.heading %}
          <h2 class="text-center heading">{{ include.heading }}</h2>
          {% endif %}
            <div class="row row-cols-10 row-cols-sm-6 row-cols-md-9 gap-2 justify-content-center">
              {% for option in site.data.technologies %}
              <div class="col d-flex justify-content-center align-items-center mb-2 img-fix"><img src="assets/img/technologies/{{option.logo}}" alt="{{option.text}}" class="img-fluid" /></div>
              {% endfor %}
            </div>        
        </div>
        <div class="col-12 col-md-8 offset-md-2 video-section mt-4 img-fix">
          <iframe width="100%" height="460" src="https://www.youtube.com/embed/h3RagK3rD8I?si=iRZRhCc9W2SXxU5a" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      </div>
    </div>

  
  </div>
</section>