
  
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center" style="background-image: url({{ page.hero.image }});">

    <div class="container">
      
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center hero-text-area py-4">
			
          <h1 data-aos="fade-up">{{ page.hero.heading }} </h1>
          <h2 data-aos="fade-up" data-aos-delay="400" class="mb-3 text-white">
            {{ page.hero.subHeading }}
             
          </h2>
          <p data-aos="fade-up" data-aos-delay="400" class="text-dark">
            {{ page.hero.text }}</p>
          
        </div>
      </div>
    </div>
</section><!-- End Hero -->
